include header.pug

div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header_order.pug

    div(class='container')
      div(class='row')
        div(class='col col-md-12')
          h3(class="cart-header") Корзина
          div(id='cart-nav')
        div(class='col col-md-12')
          h3 Создание заказа 
        div(class='col col-md-6')
          form#lite-shop-order(action="")
                  div(class='form-control')
                    label(for='username') Имя:
                    input(
                        type='text',
                        id='username',
                        placeholder='Введите имя',
                        )
                  div(class='form-control')
                    label(for='phone') Телефон:
                    input(
                        type='text',
                        id='phone',
                        placeholder='+79625485133',
                        )
                  div(class='form-control')
                    label(for='email') Email:
                    input(
                        type='text',
                        id='email',
                        placeholder='mail@example.ru',
                        )
                  div(class='form-control')
                    label(for='address') Адрес:
                    textarea(
                        id='address',
                        placeholder='Ваш адрес для доставки',
                        )
                  div(class='form-control')
                    label(for='rule') 
                      input(
                          type='checkbox',
                          id='rule',
                          value='1'
                          ) 
                      span  C правилами cогласен 
                  div(class='form-control text-right')
                    button(class='button-primary', type='submit') Завершить заказ
    //include nav.pug

  include footer.pug
  script(src='js/order.js')

